<div class="container text-center form-check">
  
  
  <div class="column g-2">
      
        <div>
          <div class="p-3">
            <div class="password-display">
              <app-password-display [password]="generatedPassword" ></app-password-display>
            </div>
          </div>
          <div class="p-3">
            <div class="password-config">
              <app-password-config (passwordGenerated)="onPasswordGenerated($event)"></app-password-config>
            </div>
          </div>
        </div>

       

  </div>

    
</div>
