.container{
  background: red;
  padding: 15px;
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.row g-2{
   padding: 15px;
}
.col-6{
  background: rgb(255, 145, 0);
  padding: 15px;
}
.p-3{
  padding: 15px;
  border:solid 3px rgb(0, 238, 255);
  position: relative;
  .password-display{
    background: violet;
    width: 100%;
  }
  .copy-button{
    background: seagreen;
    display: flex;
    justify-content: center;
    
  }
}
 
  
  