.container{
  //background: red;
  padding: 15px;
  //display: flex;
 //flex-direction: column;
// justify-content: center;
// align-items: center;

}
.form-check{
  display: flex;
  flex-direction: column;
}

.row g-2{
   padding: 15px;
}
.col-6{
  background: rgba(0, 0, 0, 0.1); /* Fundo semi-transparente */
    backdrop-filter: blur(10px); /* Efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* Efeito de desfoque para navegadores com prefixo webkit */
    border-radius: 10px; /* Bordas arredondadas, opcional */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para um efeito mais realista */
    padding: 20px; /* Espaçamento interno */
  
  width: 100%;

  .password-config{
    background: rgba(255, 255, 255, 0.322);
    border-radius: 5px ;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
}
.p-3{
  padding: 15px;
  //border:solid 3px rgb(0, 238, 255);
  position: relative;
  
  .password-display{
   //background: violet;
    width: 100%;
  }
  

  
}

 
  
  