.password-generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.212); /* Fundo semi-transparente */
    backdrop-filter: blur(10px); /* Efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* Efeito de desfoque para navegadores com prefixo webkit */
    border-radius: 10px; /* Bordas arredondadas, opcional */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para um efeito mais realista */
    padding: 20px; /* Espaçamento interno */
    width: 45vh;
    height: 50vh;
    
    .configurations {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-bottom: 20px;
  
      label {
        margin: 5px 0;
      }
  
      input[type="number"] {
        width: 50px;
      }
    }
  
    button {
      margin: 10px 0;
    }
    .container-gerador{
      display: flex;
      flex-direction: column;
      align-items: center;
      background: rgba(255, 255, 255, 0.055); /* Fundo semi-transparente */
      backdrop-filter: blur(10px); /* Efeito de desfoque */
      -webkit-backdrop-filter: blur(10px); /* Efeito de desfoque para navegadores com prefixo webkit */
      border-radius: 10px; /* Bordas arredondadas, opcional */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para um efeito mais realista */
      padding: 20px; /* Espaçamento interno */
      width: 45vh;
      height: 50vh;

    }
    
  }
  