/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: radial-gradient(57.72% 58.33% at 47.37% 102.73%, rgba(255, 185, 162, 0.5) 0, rgba(36, 31, 71, 0) 100%), radial-gradient(92.32% 103.31% at 7.16% 96.06%, rgba(117, 116, 230, 0.9) 0%, rgba(36, 31, 71, 0) 100%);
background-color: #241F47;

}
