<div class="password-config">
  <h2>Configurar Gerador de Senhas</h2>


  <div class="configurations ">
    <div class="configurations-compSenha ">
      <label class="form-check-label" for="flexCheckDefault">
        Comprimento da senha:
        <input type="number" aria-label="First name" class="form-control" [(ngModel)]="length">
        <mat-slider showTickMarks discrete>
          <input matSliderThumb [(ngModel)]="length">
        </mat-slider>
      </label>
    </div>

    <div class="form-check containe-checkbox ">
      
      <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="includeUppercase" />
        Incluir Letras Maiúsculas
      </label>


      <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="includeLowercase" />
        Incluir Letras Minúsculas
      </label>

      <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="includeNumbers" />
        Incluir Números
      </label>

      <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="includeSymbols" />
        Incluir Caracteres Especiais
      </label>

    </div>
  </div>


  <button (click)="generatePassword()" class="button-config button-36" role="button">Gerar Senha</button>
</div>