<div class="password-config">
    <h2>Configurar Gerador de Senhas</h2>
  
    <div class="configurations">
      <label>
        Comprimento da senha:
        <input type="number" [(ngModel)]="length" min="4" max="20" />
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="includeUppercase" />
        Incluir Letras Maiúsculas
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="includeLowercase" />
        Incluir Letras Minúsculas
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="includeNumbers" />
        Incluir Números
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="includeSymbols" />
        Incluir Caracteres Especiais
      </label>
    </div>
  
    <button (click)="generatePassword()">Gerar Senha</button>
  </div>
  