<div class="password-config">
  <h2>Configurar Gerador de Senhas</h2>


  <div class="configurations ">
    <div class="configurations-compSenha">
      <div class="input-group">
        <span class="input-group-text">Comprimento da senha:</span>
        <input type="number" aria-label="First name" class="form-control" [(ngModel)]="length">
      </div>
     
      <label class="form-check-label" for="flexCheckDefault">
        <mat-slider showTickMarks discrete class="ajuste">
          <input matSliderThumb [(ngModel)]="length">
        </mat-slider>
      </label>
    </div>
    

    <div class="form-check form-switch containe-checkbox ">
      
      <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox" role="switch" id="flexCheckDefault" [(ngModel)]="includeUppercase" />
        Incluir Letras Maiúsculas
      </label>


      <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="includeLowercase" />
        Incluir Letras Minúsculas
      </label>

      <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="includeNumbers" />
        Incluir Números
      </label>

      <label class="form-check-label" for="flexCheckDefault">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="includeSymbols" />
        Incluir Caracteres Especiais
      </label>

    </div>
  </div>
  <div *ngIf="alert" class="alert alert-danger" role="alert">
    Selecione pelo menos uma opção de caracteres.
  </div>

  <button [disabled]="btnDisabled" (click)="generatePassword()" class="button-config button-36" role="button">
    <span *ngIf="loading" class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
    <span role="status"style="padding-left: 10px;">Gerar Senha</span>
  </button>

  
</div>